.head-container {
    padding: 10px;
}

body {
background: url(./images/folk-pattern.png);

}

#gifSpace {
    display: flex;
    flex-wrap:wrap;
    padding: 10px;
    border: 10px;
}

img {
    padding: 10px;
}
p {
    padding-top: 10px;
    padding-left: 10px;
    font-weight: bolder;
}

.moodBtn {
    margin: 5px;
}

